<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{/layout/baseLayout}">

<head>
    <title>THISTLE</title>

</head>
<body>
<th:block layout:fragment="content">
<main role="main">

	<div class="container">
    <h1 class="mt-3 mb-4 text-center">THISTLE</h1>
    <div class="row">
        <div class="col-4">
            <section th:replace="~{user/comm/mypage_menu}"></section>
        </div>
        <div class="col-8">
            <h1>내정보</h1>
            <form class="form-horizontal" id="ChangePwForm" th:action="@{/user/changepw}" method="post">
                <div class="card-body">

                     <div class="form-group row">
                         <label for="cur_user_password" class="col-sm-6 col-form-label">현재 비밀번호</label>
                         <div class="col-sm-6">
                             <input type="password" class="form-control" id="cur_user_password" name="cur_user_password">
                         </div>
                     </div>
                     <div class="form-group row">
                         <label for="new_user_password" class="col-sm-6 col-form-label">신규 비밀번호</label>
                         <div class="col-sm-6">
                             <input type="password" class="form-control" id="new_user_password" name="new_user_password">
                         </div>
                     </div>
                     <div class="form-group row">
                         <label for="new_user_password_2" class="col-sm-6 col-form-label">신규 비밀번호 확인</label>
                         <div class="col-sm-6">
                             <input type="password" class="form-control" id="new_user_password_2" name="new_user_password_2">
                         </div>
                     </div>
                    
                </div>

               <button type="button" class="btn btn-info btn-block" id="btnChangePw">비밀번호 변경</button>

            </form>
        </div>
    </div>

  </div>

</main>
</th:block>
  
  <th:block layout:fragment="script">  
  <!-- 각각의 페이지에서 필요한 자바스크립트 작성 -->
  
	<script th:inline="javascript">
	
	let msg = [[${msg}]];
	if(msg == "success") {
		alert("비밀번호가 변경되었습니다");
	}else if(msg == "failPW") {
		alert("현재 비밀번호를 확인해주세요");
	}

        $(document).ready(function() {
        	
        	//비밀번호 변경버튼 클릭 시
			$("#btnChangePw").on("click", function() {

                if($("#cur_user_password").val() == "") {
                    alert("현재 비밀번호를 입력하세요.");
                    $("#cur_user_password").focus();
                    return;
                }
				
                if($("#new_user_password").val() != $("#new_user_password_2").val()) {
                    alert("신규 비밀번호와 일치하지 않습니다.");
                    $("#new_user_password_2").focus();
                    $("#new_user_password_2").val("");
                    return;
                }

				// ChangePwForm을 서밋합니다.
				$("#ChangePwForm").submit();

				});

        }); //read event end

    </script>

	  <script th:inline="javascript">
	  
		  let msg = [[${msg}]]; 
			 if(msg == "success") {
			    alert("회원정보가 수정되었습니다.");
			 }
		  
	  
	    //u_email, u_zip_code, u_addr, u_addrdetail, u_phone
	      $(document).ready(function() {
	      	
	      	//수정버튼 클릭 시
				$("#btnModify").on("click", function() {
					
					// modifyForm을 서밋합니다.
					$("#modifyForm").submit();
	
					});
	
	      }); //read event end 
	  
    </script>
</th:block>

</body>
</html>
